################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/MainPage/.vs/MainPage/DesignTimeBuild/.dtbcache.v2
